/* .container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top_container{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  background-color: #adfecd;
  height: 90px;
}

.tracking_container{
  width: 100%;
  height: 5px;
  background-color: #ebdddd;
  position: relative;
}

.current_progress{
  height: 5px;
  
  width: 0;
}

.data_container{
  margin-top: 90px;
}

.start_mark {
  position: absolute;
  top: -50px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
   transition: left 0.01s ease-in-out;  
}

.start_mark img{
  height: 100px;
  width: 100px;
} */